<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.hci_g1.amelior"
>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.Amelior"
	>

		<!-- Splash screen. -->
		<activity
			android:name=".SplashScreen.SplashScreen"
			android:exported="true"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar"
		>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

		</activity>

		<!-- Welcome screen. -->
		<activity
			android:name=".MainActivity"
			android:exported="false"
		/>

		<!-- Primary screen holding fragments and settings. -->
		<activity
			android:name=".MainMenuActivity"
			android:exported="false"
		/>

		<activity
			android:name=".HomeActivity"
			android:exported="false"
		/>

		<activity
			android:name=".QuestionActivity"
			android:exported="false"
		/>

		<!-- GPS service. -->
		<service
			android:name=".GPS"
			android:enabled="true"
			android:exported="true"
			android:foregroundServiceType="location"
		/>

		<!-- Step tracking service. -->
		<service
			android:name=".StepTracker"
			android:exported="false"
		/>

	</application>

	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

</manifest>
